<!-- CALL2ACTION -->
<div class="full-width call-action">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h4>Want to improve you eatery? contact us now!</h4>
            </div>
            <div class="col-md-3">
                <a href="contact.html" class="btn btn-danger">Create a Eatery</a>
            </div>
        </div>
    </div>
</div>
<!-- CALL2ACTION -->

<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5 copy-right">
                <p><img src="<%=asset_url('footer-logo.png')%>" alt="Logo" class="img-responsive"> &copy; 2018 PICK EAT — Where finding food matters</p>
            </div>
            <div class="col-md-7">
                <ul>
                    <li><a href="<%= root_path %>">Home</a></li>
                    <li><a href="<%= restaurants_path %>">Eatery</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="team">Team</a></li>
                    <li><a href="contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->
