<body>

        <div class="page-wrap">

            <!-- BREADCRUMBS-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <a href="<%= root_path %>">Home</a>
                            <span class="sep">/</span>
                            <span class="current">About</span>
                        </div>
                        <h2 class="page-title">About Us</h2>
                    </div>
                </div>
            </div>
            <!-- BREADCRUMBS -->

            <!-- CONTENTS -->
            <div class="container">
                <div class="page-contents">

                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <figure>
                                <a href="#">
                                    <img src="images/about.png" alt="Profile Image" class="img-responsive">
                                    <div class="overlay"></div>
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-7">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- CONTENTS -->

            <!-- BANNER  -->
            <div class="full-width history">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>History of success</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo<br> ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis<br> dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies <br> nec, pellentesque eu, pretium quis, sem.</p>
                            <button class="btn btn-danger">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BANNER -->

            <!-- CONTENTS -->
            <div class="container">
                <div class="page-contents">

                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                        </div>
                        <div class="col-md-5">
                            <figure>
                                <a href="#">
                                    <img src="images/about2.png" alt="Profile Image" class="img-responsive">
                                    <div class="overlay"></div>
                                </a>
                            </figure>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,<br> eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam<br> voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- CONTENTS -->

            <!-- REVIEWS -->
            <div class="full-width rewiews">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="images/logo.png" alt="" class="img-responsive">
                            <h6>John Harvey Panganiban</h6>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque<br> penatibus et magnis dis parturient montes, nascetur ridiculus...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- REVIEWS -->

        </div>

    </body>
