<body>

        <div class="page-wrap properties-page map-properties">

            <!-- BREADCRUMBS-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <a href="<%= root_path %>">Home</a>
                            <span class="sep">/</span>
                            <span class="current">Eatery</span>
                        </div>
                        <h2 class="page-title">All Eateries</h2>
                    </div>
                </div>
            </div>
            <!-- BREADCRUMBS -->

            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="property-filter">
                            <a href="#" class="active">All</a>
                            <a href="#">Rent</a>
                            <a href="#">Sale</a>
                            <a href="#">Buy</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="property-views">
                            <a href="properties-grid"><i class="fa fa-th-large"></i>Grid</a>
                            <a href="properties-list"><i class="fa fa-bars"></i>List</a>
                            <a href="properties-map" class="active"><i class="fa fa-map"></i>Map</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- MAP&FORM -->
            <div class="full-width map-wrap">

                <div id="map" class="properties-list" style="width: 100%; height: 980px;"></div>

                <!-- SIDEBAR -->
                <div class="contact-form-wrap">
                    <div class="container">
                        <div class="row">
                            <aside class="col-md-4">

                                <div class="property-search">
                                    <form action="#" method="get">

                                        <select>
                                            <option>Location</option>
                                            <option>London</option>
                                            <option>Paris</option>
                                            <option>New York</option>
                                        </select>
                                        <select>
                                            <option>Category</option>
                                            <option>Lands</option>
                                            <option>Plots</option>
                                            <option>Commercial</option>
                                        </select>
                                        <select>
                                            <option>Type</option>
                                            <option>Buy</option>
                                            <option>Sell</option>
                                            <option>Rent</option>
                                        </select>

                                        <hr>

                                        <div class="buttons">
                                            <button class="btn btn-danger"><i class="fa fa-search"></i>Search</button>
                                            <button class="btn btn-clear">Clear</button>
                                        </div>

                                    </form>
                                </div>

                            </aside>
                        </div>
                    </div>
                </div>
                <!-- SIDEBAR -->

            </div>
            <!-- MAP&FORM -->

        </div>

    </body>
