<body>

        <div class="page-wrap team-page">

            <!-- BREADCRUMBS-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <a href="<%= root_path%>">Home</a>
                            <span class="sep">/</span>
                            <span class="current">Our Team</span>
                        </div>
                        <h2 class="page-title">Our Team</h2>
                    </div>
                </div>
            </div>
            <!-- BREADCRUMBS -->

            <!-- TEAMS -->
            <div class="container team-posts">
                <div class="row">

                    <div class="col-md-4">
                        <div class="post clearfix">
                            <figure>
                                <a href="team-single"><img src="<%=asset_url('team1.png')%>" alt="Team" class="img-responsive" ></a>
                            </figure>
                            <article>
                                <span>Bachelor of Science in Information Technology</span>
                                <h3>John Harvey<br>Panganiban</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                                <div class="agent-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="post clearfix">
                            <figure>
                                <a href="#"><img src="<%=asset_url('team2.png')%>" alt="Team" class="img-responsive" ></a>
                            </figure>
                            <article>
                                <span>Bachelor of Science in Information Technology</span>
                                <h3>Kate Icon<br>Marcelo</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                                <div class="agent-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="post clearfix">
                            <figure>
                                <a href="#"><img src="<%=asset_url('team3.png')%>" alt="Team" class="img-responsive" ></a>
                            </figure>
                            <article>
                                <span>Bachelor of Science in Information Technology</span>
                                <h3>Emman<br>Flores</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                                <div class="agent-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TEAMS -->
</div>

    </body>
