<body>
  <div class="page-wrap team-single">
    <!-- BREADCRUMBS-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <a href="<%= root_path %>">Home</a>
            <span class="sep">/</span>
            <a href="team">Contact Us</a>
            <span class="sep">/</span>
            <span class="current">John Harvey Panganiban</span>
          </div>
            <h2 class="page-title">John Harvey Panganiban</h2>
          </div>
        </div>
      </div>
      <!-- BREADCRUMBS -->

      <!-- TEAM -->
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <figure>
              <img src="images/team-single.png" alt="" class="img-responsive">
            </figure>
          </div>
          <div class="col-md-4 col-sm-6">
            <h3>Role</h3>
            <span class="role">Pick Eat Administrator</span>
            <h3>Skills</h3>
          <div class="skills">
            <h5>Professionalism</h5>
            <div class="progress-bar">
              <div class="bar" style="width: 80%;"></div>
            </div>
            <h5>Honesty</h5>
            <div class="progress-bar">
              <div class="bar" style="width: 70%;"></div>
            </div>
            <h5>Goodwill</h5>
            <div class="progress-bar">
              <div class="bar" style="width: 50%;"></div>
            </div>
            <h5>Cuteness</h5>
            <div class="progress-bar">
              <div class="bar" style="width: 95%;"></div>
            </div>
          </div>
            <h3>About</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus...</p>
          </div>
          <div class="col-md-3 col-sm-12">
          <h3>Social</h3>
            <div class="agent-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
          <h3>Contact</h3>
              <ul class="agent-contact">
                <li><a href="#"><i class="fa fa-phone"></i> +61 3 8376 6284</a></li>
                <li><a href="#"><i class="fa fa-phone"></i> +98 5 2727 0760</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>johnharveypanganibanofficial@gmail.com</a></li>
              </ul>
                <a href="#" class="btn btn-danger">Contact John Harvey</a>
          </div>
        </div>
      </div>
      <!-- TEAM -->
  </div>
</body>
