/*carousel*/
.h1-main {
  text-align: center;
}

.imageho {
  opacity: 1;
  display: block;
  width: 80%;
  height: 80%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middleho {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
  -ms-transform: translate(-40%, -40%);
  text-align: center;
}
.containerho:hover .imageho {
  opacity: 0.3;
}
.containerho:hover .middleho {
  opacity: 1;
}

// Carousel configuration parameters
$item-width: 50%; // Now we can use percentages!
$item-separation: 500px; // This now is set with Js
$viewer-distance: 900px;

.carousel {
    padding: 20px;

    perspective: $viewer-distance;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
        flex: 0 0 auto;
    }

    figure {
        margin: {
          top: 20px;
          bottom: 20px;
        }

        width: $item-width;
        transform-style: preserve-3d;
        transition: transform 0.7s;


    }
    #square {
        width: 100%;
        box-sizing: border-box;
        padding: 0 $item-separation / 2;

        &:not(:first-of-type) {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    nav {
        display: flex;
        justify-content: center;
        margin: 0px 0 0;

        button {
            flex: 0 0 auto;
            margin: 0 5px;

            cursor: pointer;

            color: #FFFFFF;
            letter-spacing: 1px;
            padding: 10px 50px;
            font-size: 20px;
        }
    }

}
.container-bg {
  background-color: #fff;
}

.font-resto {
  font-size: 20px;
}
.font-add {
  font-size: 15px;
}
